@import "../../Scss/Variables.scss";

.products {
  background-color: $white;
  overflow: hidden;

  .container {
    padding: 120px 20px;
  }
}

.products__heading {
  margin-bottom: 60px;
}

.products__menu__list {
  margin-bottom: 50px;
  overflow: visible;
}

.products__menu__item {
  width: auto;
}

.products__menu__button {
  width: auto;
  padding: 10px 30px;
  color: $black;
  box-shadow: inset 0px 0px 0px 1px $red;

  &:hover {
    color: $white;
    background-color: $red;
  }

  &--active {
    color: $white;
    background-color: $red;
  }
}

.products__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 20px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.product {
  max-width: 310px;
  width: 100%;
  padding: 19px;
  padding-bottom: 39px;
  border: 1px solid rgba($color: $red, $alpha: 0.1);
  border-radius: 14px;
  background-color: $white;
  transition: box-shadow 0.25s ease, border-color 0.25s ease;

  &:hover {
    box-shadow: 0px 10px 30px rgba($color: $black, $alpha: 0.15);
    border-color: $white;
  }
}

.product__image {
  max-width: 100%;
  margin-bottom: 10px;
  object-fit: contain;
  object-position: center;
}

.product__heading {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.product__price {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $red;
  background-color: transparent;
}

@media only screen and (max-width: 768px) {
  .products {
    .container {
      padding: 100px 20px;
    }
  }

  .products__list {
    margin-bottom: 36px;
  }

  .products__button {
    display: block;
    max-width: 295px;
    width: 100%;
    margin: 0 auto;
    padding: 8px 32px;
    color: $black;
    box-shadow: inset 0px 0px 0px 1px $red;
  }
}

@media only screen and (max-width: 550px) {
  .products {
    background-color: $white;

    .container {
      padding-top: 60px;
      padding-bottom: 80px;
    }
  }

  .products__heading {
    margin-bottom: 40px;
  }

  .products__menu__list {
    margin-bottom: 40px;
  }

  .products__menu__button {
    padding: 5px 20px;
  }

  .products__list {
    gap: 40px;
  }
}

@media only screen and (max-width: 350px) {
  .product__image {
    height: 160px;
  }
}
