@import "../Scss/Variables.scss";

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  white-space: nowrap;
}

body {
  height: 100%;
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: $black;
}

#root {
  height: 100%;
}

.app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

img,
svg {
  vertical-align: middle;
}

main {
  flex-grow: 1;
}

.container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
